<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parallel</title>
    <link rel="stylesheet" href="../static/css/parallexl.css">
</head>
<body>
    <section>
        <div>
            <h2>parallexl</h2>
            <p>the best data visulaization</p>
        </div>
 
        
    </section>
    <section class="section-2">
        <div>
            <h2>parallexl</h2>
            <p>the best data visulaization</p>
        </div>
    </section>
    <section class="section-3">
        <div>
            <h2>parallexl</h2>
            <p>the best data visulaization</p>
        </div>
    </section>
</body>
</html>