<!-- what is solid in software engineering ?
completing the css upto 5hours ?
python hackerrank solving the question?
assignment doing mad? -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/box.css">
</head>
<body>
    <section>
        <br />
        <h1>SUjan course in css</h1>
        <br />
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
             Adipisci odio aut rem, provident quam, laudantium sunt iusto <br>
             sequi quibusdam molestiae corrupti nisi consequuntur! Minus quos <br>
             reiciendis rerum. Ratione culpa enim similique a.</p>

    </section>
</body>
</html>