<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/units.css">
</head>
<body>
    <h1>Css units</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis quaerat repellat inventore.</p>
    <div class="parents">
        <ul>
            <li>this is text</li>
            <li>this is text</li>
            <li>this is text</li>
        </ul>
    </div>
</body>
</html>